.customclass,.customclass-1
{
	width:50%!important;
	float: left;
	padding-right: 1%;
}
.nav,.navbar-default
{
	float: right;
}
#test2{
	width: 20px;
	height: 20px;
}
#submit
{
margin-top: 8px;	
}
.left
{
	margin-left:5%;
}
.custom-col
{
	width:50%;
	margin-left:34%;
}
[type="checkbox"]:not(:checked) + test3:before,
[type="checkbox"]:checked + test3:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/*.container{
  width: 1366px!important;
}*/

 footer {
            color: #666;
            background: #222;
            position: fixed;  
            bottom: 0px;
            border-top: 1px solid #000;
        }
        footer a {
            color: #999;
        }
        footer a:hover {
            color: #efefef;
        }
.form-control-1{
 display:block;
 width:100%;
 height:40px;
 padding:6px 12px;
 font-size:14px;
  color:#555;
 background-color:#fff;
 background-image:none;
 border:1px solid #ccc;
 border-radius:4px;
 -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
 box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
 -webkit-transition:border-color ease-in-out .15s,
 -webkit-box-shadow ease-in-out .15s;
 -o-transition:border-color ease-in-out .15s,
 box-shadow ease-in-out .15s;
 transition:border-color ease-in-out .15s,
 box-shadow ease-in-out .15s
 }
}